body{
  background-image: url(./assets/img/10.jpg);
  background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url('./assets/img/10.jpg');
  background-size: cover;
  width: 100%;
  height: 100%;
  font-family: "Salsa", cursive;
  font-weight: 400;
  font-style: normal;
}

.loader-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
  gap: 1.6rem;
  color: var(--color-medium);
  font-size: 1.4rem;
}

.loader {
  width: 50px;
  height: 24px;
  background: radial-gradient(circle closest-side, currentColor 90%, #0000) 0% 50%,
    radial-gradient(circle closest-side, currentColor 90%, #0000) 50% 50%,
    radial-gradient(circle closest-side, currentColor 90%, #0000) 100% 50%;
  background-size: calc(100% / 3) 12px;
  background-repeat: no-repeat;
  animation: loader 1s infinite linear;
}

@keyframes loader {
  20% {
    background-position: 0% 0%, 50% 50%, 100% 50%;
  }
  40% {
    background-position: 0% 100%, 50% 0%, 100% 50%;
  }
  60% {
    background-position: 0% 50%, 50% 100%, 100% 0%;
  }
  80% {
    background-position: 0% 50%, 50% 50%, 100% 100%;
  }
}

button.correct {
  background-color: rgba(0,255,0,0.2);
  border: 1px solid green;
  border-radius: 10px;
}

button.wrong {
  background-color: rgba(255,0,0,0.2);
  border: 1px solid red;
  border-radius: 10px;
  
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
  display: none;
}

.overlay.visible {
  display: block;
}

btn[disabled]:hover {
  cursor: not-allowed;
}

.h1-icon{
  font-size: 100px;
  color: orange;
}

.info-icon{
  margin-right: 10px;
}
